* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 16px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #222;
    padding: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    margin: 5px 0;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 840px;
    margin: 0 auto;
    padding: 10px;
}

h1 {
    margin: 10px 0;
    text-align: center;
    color: #333;
}

h2 {
    border-bottom: 1px solid #222;
    padding-bottom: 6px;
    margin-bottom: 10px;
}

main img {
    width: 250px;
    height: auto;
    border: 2px solid #333;
    padding: 5px;
    box-shadow: 0 0 30px #333;
    display: block;
    margin: 10px 0;
}

img {
    width: 100%;
    height: auto;
}

aside {
    width: 500px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f3f6fb;
    color: #222;
}

aside img {
    width: 200px;
    height: auto;
    display: block;
    margin: 10px auto;
}

p {
    margin: 10px 0;
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #444;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 0.9rem;
}