* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 16px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-size: 1.5rem;
    margin: 10px 0;
}

nav {
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #444;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: .9rem;
}

main {
   
    max-width: 840px;
    margin: 0 auto;
    padding: 10px;
}

h1 {
    margin: 10px 0;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #222;
    padding-bottom: 6px;
    margin-bottom: 10px;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;
}


main img {
    width: 250px;
    height: auto;
    display: block;
    margin: 10px 0;
}


aside {
    width: 500px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f3f6fb;
    color: #222;
}

aside img {
    width: 450px;
    height: auto;
    display: block;
    margin: 10px auto;
}

section {
    margin: 20px 0;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    background-color: #abe;
    font-size: 0.9rem; 
}

section p {
    margin: 10px 0;
    padding: 0; 
}

p {
    margin: 10px 0;
    padding: 0;
}

ul {
    margin: 10px 20px;
}